---
### Local Configuration Defaults
#
# Alpha sorted list with default values specified unless otherwise noted in a
# comment describing the configuration default.

## zfSnap tunables
#zfsnap_hourly_ttl:   '3d'
#zfsnap_daily_ttl:    '9d'
#zfsnap_weekly_ttl:   '5w'
#zfsnap_monthly_ttl:  '6m'
#zfsnap_reboot_ttl:  '14d'
#zfsnap_verbose:      'NO'

# Add an internal config version. Since we must have at least one value in
# the YaML dict, use this as the sentinel record.
config_version: '20150809'
