#!{{ ansible_python_interpreter }} --

import json
import subprocess

def dump_facts(facts):
    print json.dumps(facts, sort_keys=True, indent=4, separators=(',', ': '))

def get_sysctl_str(key):
    out = subprocess.check_output(['/sbin/sysctl', '-n', key])
    return out.strip()

def get_freebsd_facts():
    facts = {}
    def update_facts(key, data_type=str):
        value = get_sysctl_str(key)
        if data_type == str:
            facts[key] = value
        elif data_type == int:
            facts[key] = int(value)

    update_facts('kern.osreldate', int)
    return facts


if __name__ == '__main__':
    facts = get_freebsd_facts()
    dump_facts(facts)
